@use '../abstract' as a;


.button {
  display: none;
  font-family: a.$publicSans;
  font-size: 1.25rem;
  font-weight: 400;

  color: white;
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
  border-radius: 50px;
  border: none;
  padding:  1.25rem 2.75rem;
  margin-right: 13.75rem;


}